<app-nav></app-nav>

<div class="container pt-4 mb-5">
  <div class="row">
    <div class="col text-center">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3125.0325033651898!2d27.281273815284894!3d38.44071818133812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b97b4f1dad5f55%3A0x3a5d363f25437ec1!2sUfuk%20Ba%C4%9Fla%C3%A7%20Otomotiv%20Fren%20Servis!5e0!3m2!1str!2str!4v1675175170440!5m2!1str!2str"
        width="70%" height="500vh" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>

<!-- <div class="container pt-5 mb-5">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h2>Bizimle İletişime Geçin</h2>
      <p>Aklınızdaki soruları mail yolu ile iletebilirsiniz.</p>
      <form action="https://formspree.io/f/mwkjvaqz" method="POST">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" placeholder="Email"
          name="email">
          <label for="floatingInput">Email adresiniz</label>
        </div>
        <div class="form-floating">
          <input type="text" name="subject" class="form-control" placeholder="Konu">
          <label>Konu</label>
        </div>
        <div class="form-floating mt-3">
          <textarea class="form-control" placeholder="Mesajınızı yazınız" style="height: 100px"></textarea>
          <label name="message" for="floatingTextarea2">Mesajınızı yazınız</label>
        </div>
        <button type="submit" class="btn btn-success mt-3">Gönder</button>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div> -->


<!--İcon başlangıç-->
<div class="container mt-4 pt-5 pb-5">
  <h2 class="text-center">İletişim Bilgilerimiz</h2>
  <div class="row pt-4">
    <div class="col-sm-2 col-md-2 text-center mt-3">
      <h4><i class="fa-solid fa-location-dot fa-2xl"></i></h4>
    </div>
    <div class="col-sm-2 col-md-2 border-start"><a
        href="https://www.google.com/maps/dir//Kemalpa%C5%9Fa,+5.+Sanayi+Sitesi,+7419%2F8.+Sk.+No:2,+Bornova%2F%C4%B0zmir/@38.4400346,27.2770591,15.14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x14b97b4f1dad5f55:0x3a5d363f25437ec1!2m2!1d27.2833086!2d38.440832"
        target="_blank"> 5. Sanayi Sitesi 7419/8. Sk. No:2, 35060 Kemalpaşa/Bornova/İZMİR</a></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-sm-2 col-md-2 text-center mt-3">
      <h4><i class="fa-solid fa-phone fa-2xl"></i></h4>
    </div>
    <div class="col-sm-2 col-md-2 border-start">
      <a href="tel:+90 (232) 479 56 16"><br><b>Şirket:</b> (0232) 479 56 16</a>
      <a href="tel:+90 530 790 3535"><br><b>Yol Yardım:</b> 530 790 3535</a>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-sm-2 col-md-2 text-center">
      <h4><i class="fa-solid fa-envelope fa-2xl"></i></h4>
    </div>
    <div class="col-sm-2 col-md-2 border-start"><a href="mailto:info@ufukotofren.com.tr">info@ufukotofren.com.tr</a>
    </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
  </div>
</div>



<div class="container-fluid mt-5 pt-5">
  <app-footer></app-footer>
</div>