<app-nav></app-nav>


<div class="container mt-4 mb-4">

  <div class="row pt-4 pb-4">
    <div class="col text-center">
      <h2>Biz Kimiz?</h2>
    </div>
  </div>

  <div class="row pt-4 pb-4 mb-4">
    <div class="col-2 rounded-circle text-end">
      <span>
        <i class="fa-regular fa-building fa-2xl"></i>
      </span>
    </div>
    <div class="col-8" id="hakkimizda">
      <p>Ufuk Oto Fren Servisi, kamyon parçaları ve onarımı konusunda deneyimli ve uzman bir ekip ile hizmet
        vermektedir.
        <br>
        İzmir'de 50 yılı aşkın bir süredir hizmet veriyoruz ve müşteri memnuniyeti her zaman önceliğimizdir.
      </p>
      <p>
        Kalite, güvenlik ve destek konularında müşterilerimize en iyi hizmeti sunmak için çalışıyoruz.
        Kamyon parçalarının yedek parçaları ve onarımları konusunda uzman ekibimiz ile her türlü ihtiyacınızı
        karşılıyoruz.</p>

      <p>
        Araç sahiplerinden filolara, inşaat şirketlerine her sektörde profesyonel hizmet veriyoruz.
        OEM kalitesinde yedek parçalar, nakliye sektörü liderleri tarafından üretilmektedir. Her zaman ve zamanında
        parçalara sahip olmak için geniş bir yedek parça stoklarımızda bulunmaktadır.

        Ufuk Oto Fren Servisi olarak, profesyonel çalışma kadromuz ile beraber hızlı ve kesin çözüm ortağınız olarak siz
        değerli müşterilerimize hizmet vermekteyiz. Bize güvenebilirsiniz, ihtiyacınız olan her şey için buradayız.</p>
    </div>
  </div>
</div>


<div class="container-fluid mt-5 pt-5" id="footer">
  <app-footer></app-footer>
</div>